.youtube-thumbnail, .youtube-logo, .twitter-banner {
    transition-duration: 250ms;
}

#thumbnails {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: var(--margin-amount);
    margin-top: var(--margin-amount);
    margin-bottom: var(--margin-amount);
}

.youtube-thumbnail {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    vertical-align: middle;
} .youtube-thumbnail:hover {
    transform: scale(1.05,1.05);
}

@media screen and (orientation:portrait),
screen and (max-width:910px) {
    #thumbnails {
        grid-template-columns: 1fr;
    }
}

/* */

:root {
    --margin-other2: 10px;
    --margin-other1: calc(var(--margin-amount) - var(--margin-other2));
}

#branding {
    margin-top: var(--margin-other1);
    margin-bottom: var(--margin-other1);
}

.branding-collection {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2%;
    height: auto;
}

.grid-item, .branding-collection {
    box-sizing: border-box;
}

.grid-item {
    margin-top: var(--margin-other2);
    margin-bottom: var(--margin-other2);
    position: relative;
    display: flex;
}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    vertical-align: middle;
} .grid-item img:hover {
    transform: scale(1.05,1.05);
}

  