#about {
    margin: 40px 0 40px 0;
    width: 100%;
}
.about-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms;
} .about-parent:hover {
    transform: scale(1.05,1.05);
}
.about-text {
    text-align: center;
    margin-top: 0;
}
.banner {
    flex: 0 0 auto;
    margin-right: 20px;
    width: 20vw;
    border-radius: 5px;
}

.banner.small {
    width: 15vw;
} .banner.small:hover {
    width: 15.5vw;
}

.wave img.emoji  {
    animation: wave 2.5s ease-in-out 1;
}
.wave img.emoji:hover {
    animation: wave2 2.5s ease-in-out 1;
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(15deg); }
    20% { transform: rotate(-10deg); }
    30% { transform: rotate(15deg); }
    40% { transform: rotate(-5deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
@keyframes wave2 {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(15deg); }
    20% { transform: rotate(-10deg); }
    30% { transform: rotate(15deg); }
    40% { transform: rotate(-5deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

