#gear, #specs {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: var(--margin-amount);
    margin-bottom: 0;
}

.about-parent:hover {
    transform: scale(1,1) !important;
}

.gear-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minmax values as needed */
    gap: 20px;
    align-items: center;
}

.gear-parent {
    flex: 1;
    text-align: left;
    background-color: var(--background-secondary);
    padding: var(--padding-amount);
    border-radius: 8px;
    transition-duration: 250ms;
    margin-bottom: var(--margin-amount);
}

.gear-parent h1 {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 25px;
}

.gear-content p {
    margin: 0;
    font-size: 18px;
}

.gear-content p strong {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0px;
}
