.content * {
    transition-duration: 250ms;
    box-sizing: border-box;
}

.content {
    position: absolute;
    top: 5vh;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 100px;
}

#nav, #content, #description {
    color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#nav {
    width: 20%;
    height: fit-content;
    border-radius: 15px;
    background: linear-gradient(to right, rgba(0, 22, 45,0.8), rgba(6, 9, 23, 0.8));
    flex-direction: column;
}

#content, #description {
    width: 40%; 
}

.nav-item {
    margin: 0 6.125% 0 6.125%;
    width: 75%;
    height: fit-content;
    padding: 20px;
    text-align: left;
    border-radius: 15px;
} .nav-item.first {
    margin-top: 15px;
} .nav-item.last {
    margin-bottom: 15px;
}

.nav-item:hover {
    outline: 3px solid rgb(255,255,255,0.8) !important;
    box-shadow: 0 0 10px rgba(255,255,255, 0.6) !important;
}

.nav-item.active {
    outline: 3px solid rgb(255,255,255,0.8);
    box-shadow: 0 0 10px rgba(255,255,255, 0.6);
}

#nav:has(.nav-item:hover) .nav-item.active {
    outline: none;
    box-shadow: none;
}

.header {
    text-transform: uppercase;
    font-style: italic;
    font-size: xx-large;
} .header:not(.first) {
    margin-top: 30px;
}

#content {
    width: 40%;
    height: fit-content;
    border-radius: 15px;
    flex-direction: column;
    margin-left: 2vw;
}

.option {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items evenly */
    margin-top: 30px;
    font-size: larger;
} .option .title {
    flex: 1; /* Allow .title to grow and fill available space */
    text-align: left; /* Align text inside .title to the left */
    color: rgb(122, 122, 122);
}

.option-picker {
    text-align: right; /* Align content inside .option-picker to the right */
} .option-title {
    display: block; /* Ensure .option-title behaves as a block element */
}

.option-slider {
    text-align: center;
    padding: 15px;
    width: 50%;
    background-image: linear-gradient(to right,
        rgb(0,20,120,0.8) 0%,
        rgb(0,20,120,0.8) 50%,
        rgb(0,0,40,0.8) 50%,
        rgb(0,0,40,0.8) 100%
    );
}

#description {
    width: 40%;
    height: fit-content;
    border-radius: 15px;
    flex-direction: column;
    margin-left: 2vw;
}

#description .title {
    font-size: larger;
}
#description .description {
    margin-top: 30px;
    color: rgb(122,122,122);
}



.options .option {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
} .options .option.first {
    margin-top: 30px;
} .options .option.active {
    background-color: white;
    color: black;
}

/* FONTS */
.nav-item, .option .title, .description {
    font-family: "Heading Now Lite", Tahoma, sans-serif;
    color: white;
}