html {
    font-family: 'Heading Now', Tahoma, sans-serif;
    color: white;
}

.debug {
    border: 3px solid red;
}

* {
    transition-duration: 250ms;
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (orientation: portrait) {
    [type="desktop"] {
        display: none !important;
    }
} @media screen and (orientation: landscape) {
    [type="mobile"] {
        display: none !important;
    }
}

#footer {
    position: absolute;
    bottom: 20px;
    width: 100%; /* Ensures the footer spans the entire width */
    text-align: center;
    font-family: "Heading Now Lite", Tahoma, sans-serif;
    max-width: 40%; /* Limits the width of the footer */
    left: 50%; /* Positions the footer in the center horizontally */
    transform: translateX(-50%); /* Centers the footer horizontally */
}